<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - District 23 AA</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo/css")

    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/UIscripts")
    @Scripts.Render("~/Scripts/kendo/js")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AA - District 23", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (Session["LoginName"] != null)
                    {
                        <li>@Html.ActionLink("Meetings", "MeetingsEdit", "Meetings")</li>
                    }
                    @if (Session["LoginName"] == null)
                    {
                        <li>@Html.ActionLink("Meetings", "MeetingsIndex", "Meetings")</li>
                    }
                    <li>@Html.ActionLink("Events", "EventsIndex", "Events")</li>
                    <li>@Html.ActionLink("Links", "LinksIndex", "Links")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Contact")</li>
                    <li>@Html.ActionLink("Login", "Login", "Login")</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="mainpic">
        <h1>
            Alcoholics Anonymous of the Eastern Shore,
            <br />
            Baldwin County, AL <span class="lighter"></span>
        </h1>
        <h2>
            District 23 - Serving Bay Minette, Fairhope, Spanish Fort and Daphne
        </h2>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    
    @RenderSection("scripts", false)

    @Scripts.Render("~/Scripts/trawick")

    @RenderSection("inlineScripts", false)
</body>
</html>
