@model IEnumerable<Dist23MVC.Models.MeetingViewModel>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "MeetingCreate")<br/>
    @Html.ActionLink("Public Site", "MeetingsIndex")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.meeting.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.meeting.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.meeting.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.meeting.topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.meeting.city)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.meeting.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.meeting.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.meeting.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.meeting.topic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.meeting.city)
        </td>
        <td>
            @Html.ActionLink("Edit", "MeetingEdit", new { id = item.pKey }) |
            @Html.ActionLink("Delete", "MeetingDelete", new { id = item.pKey })
        </td>
    </tr>
}
    @Html.ActionLink("Edit Locations","Index","Locations")


</table>
