@model Dist23MVC.Models.KeyList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KeyList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.keyNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.keyNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.keyDef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.keyDef)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "KeyListEdit", new { id = Model.key_id }) |
    @Html.ActionLink("Back to List", "KeyListIndex")
</p>
